## Importing Libraries

In [60]:
# Importing Important Libraries
import pandas as pd   
import time
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SequentialFeatureSelector

from numpy import mean
import warnings
warnings.filterwarnings("ignore")

## Loading Dataset

In [61]:
# Importing Dataset using Pandas.
data = pd.read_csv("E:/Superstore1.csv")
data.shape

(9994, 21)

In [62]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [63]:
data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

## Data Pre Processing

Checking Unique Value of every string columns and applying label encoding and mapping to convert categorical columns to Numeric columns

In [64]:
data['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [65]:
data['Category'] = data['Category'].map({'Furniture': 1, 'Office Supplies': 2, 'Technology' :3})
data['Category'] = pd.to_numeric(data['Category'])

In [66]:
data['Segment'].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [67]:
data['Segment'] = data['Segment'].map({'Consumer': 1, 'Corporate': 2, 'Home Office' :3})
data['Segment'] = pd.to_numeric(data['Segment'])

In [68]:
data['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [69]:
data['Ship Mode'] = data['Ship Mode'].map({'Second Class': 2, 'Standard Class': 2, 'First Class' :3, 'Same Day' :4})
data['Ship Mode'] = pd.to_numeric(data['Ship Mode'])

In [70]:
data['Sub-Category'].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [71]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['Sub-Category'] = le.fit_transform(data['Sub-Category'].values)

In [72]:
data['Sub-Category'] = le.fit_transform(data['Sub-Category'])

In [73]:
data['Sub-Category'].unique()

array([ 4,  5, 10, 16, 14,  9,  2, 13,  3,  1, 12,  0,  7,  8, 15, 11,  6],
      dtype=int64)

In [74]:
data['Region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [75]:
data['Region'] = data['Region'].map({'South': 1, 'West': 2, 'Central' :3, 'East':4})
data['Region'] = pd.to_numeric(data['Region'])

In [76]:
data['State'].unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

In [77]:
le = preprocessing.LabelEncoder()
data['State'] = le.fit_transform(data['State'].values)

In [78]:
data['Sub-Category'] = le.fit_transform(data['Sub-Category'])

In [79]:
data['Sub-Category'].unique()

array([ 4,  5, 10, 16, 14,  9,  2, 13,  3,  1, 12,  0,  7,  8, 15, 11,  6],
      dtype=int64)

In [80]:
data.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode          int64
Customer ID       object
Customer Name     object
Segment            int64
Country           object
City              object
State              int32
Postal Code        int64
Region             int64
Product ID        object
Category           int64
Sub-Category       int64
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [81]:
data['City'].unique()

array(['Henderson', 'Los Angeles', 'Fort Lauderdale', 'Concord',
       'Seattle', 'Fort Worth', 'Madison', 'West Jordan', 'San Francisco',
       'Fremont', 'Philadelphia', 'Orem', 'Houston', 'Richardson',
       'Naperville', 'Melbourne', 'Eagan', 'Westland', 'Dover',
       'New Albany', 'New York City', 'Troy', 'Chicago', 'Gilbert',
       'Springfield', 'Jackson', 'Memphis', 'Decatur', 'Durham',
       'Columbia', 'Rochester', 'Minneapolis', 'Portland', 'Saint Paul',
       'Aurora', 'Charlotte', 'Orland Park', 'Urbandale', 'Columbus',
       'Bristol', 'Wilmington', 'Bloomington', 'Phoenix', 'Roseville',
       'Independence', 'Pasadena', 'Newark', 'Franklin', 'Scottsdale',
       'San Jose', 'Edmond', 'Carlsbad', 'San Antonio', 'Monroe',
       'Fairfield', 'Grand Prairie', 'Redlands', 'Hamilton', 'Westfield',
       'Akron', 'Denver', 'Dallas', 'Whittier', 'Saginaw', 'Medina',
       'Dublin', 'Detroit', 'Tampa', 'Santa Clara', 'Lakeville',
       'San Diego', 'Brentwood', 'Chapel Hill', 'Morristown',
       'Cincinnati', 'Inglewood', 'Tamarac', 'Colorado Springs',
       'Belleville', 'Taylor', 'Lakewood', 'Arlington', 'Arvada',
       'Hackensack', 'Saint Petersburg', 'Long Beach', 'Hesperia',
       'Murfreesboro', 'Layton', 'Austin', 'Lowell', 'Manchester',
       'Harlingen', 'Tucson', 'Quincy', 'Pembroke Pines', 'Des Moines',
       'Peoria', 'Las Vegas', 'Warwick', 'Miami', 'Huntington Beach',
       'Richmond', 'Louisville', 'Lawrence', 'Canton', 'New Rochelle',
       'Gastonia', 'Jacksonville', 'Auburn', 'Norman', 'Park Ridge',
       'Amarillo', 'Lindenhurst', 'Huntsville', 'Fayetteville',
       'Costa Mesa', 'Parker', 'Atlanta', 'Gladstone', 'Great Falls',
       'Lakeland', 'Montgomery', 'Mesa', 'Green Bay', 'Anaheim',
       'Marysville', 'Salem', 'Laredo', 'Grove City', 'Dearborn',
       'Warner Robins', 'Vallejo', 'Mission Viejo', 'Rochester Hills',
       'Plainfield', 'Sierra Vista', 'Vancouver', 'Cleveland', 'Tyler',
       'Burlington', 'Waynesboro', 'Chester', 'Cary', 'Palm Coast',
       'Mount Vernon', 'Hialeah', 'Oceanside', 'Evanston', 'Trenton',
       'Cottage Grove', 'Bossier City', 'Lancaster', 'Asheville',
       'Lake Elsinore', 'Omaha', 'Edmonds', 'Santa Ana', 'Milwaukee',
       'Florence', 'Lorain', 'Linden', 'Salinas', 'New Brunswick',
       'Garland', 'Norwich', 'Alexandria', 'Toledo', 'Farmington',
       'Riverside', 'Torrance', 'Round Rock', 'Boca Raton',
       'Virginia Beach', 'Murrieta', 'Olympia', 'Washington',
       'Jefferson City', 'Saint Peters', 'Rockford', 'Brownsville',
       'Yonkers', 'Oakland', 'Clinton', 'Encinitas', 'Roswell',
       'Jonesboro', 'Antioch', 'Homestead', 'La Porte', 'Lansing',
       'Cuyahoga Falls', 'Reno', 'Harrisonburg', 'Escondido', 'Royal Oak',
       'Rockville', 'Coral Springs', 'Buffalo', 'Boynton Beach',
       'Gulfport', 'Fresno', 'Greenville', 'Macon', 'Cedar Rapids',
       'Providence', 'Pueblo', 'Deltona', 'Murray', 'Middletown',
       'Freeport', 'Pico Rivera', 'Provo', 'Pleasant Grove', 'Smyrna',
       'Parma', 'Mobile', 'New Bedford', 'Irving', 'Vineland', 'Glendale',
       'Niagara Falls', 'Thomasville', 'Westminster', 'Coppell', 'Pomona',
       'North Las Vegas', 'Allentown', 'Tempe', 'Laguna Niguel',
       'Bridgeton', 'Everett', 'Watertown', 'Appleton', 'Bellevue',
       'Allen', 'El Paso', 'Grapevine', 'Carrollton', 'Kent', 'Lafayette',
       'Tigard', 'Skokie', 'Plano', 'Suffolk', 'Indianapolis', 'Bayonne',
       'Greensboro', 'Baltimore', 'Kenosha', 'Olathe', 'Tulsa', 'Redmond',
       'Raleigh', 'Muskogee', 'Meriden', 'Bowling Green', 'South Bend',
       'Spokane', 'Keller', 'Port Orange', 'Medford', 'Charlottesville',
       'Missoula', 'Apopka', 'Reading', 'Broomfield', 'Paterson',
       'Oklahoma City', 'Chesapeake', 'Lubbock', 'Johnson City',
       'San Bernardino', 'Leominster', 'Bozeman', 'Perth Amboy',
       'Ontario', 'Rancho Cucamonga', 'Moorhead', 'Mesquite', 'Stockton',
       'Ormond Beach', 'Sunnyvale', 'York', 'College Station',
       'Saint Louis', 'Manteca', 'San Angelo', 'Salt Lake City',
       'Knoxville', 'Little Rock', 'Lincoln Park', 'Marion', 'Littleton',
       'Bangor', 'Southaven', 'New Castle', 'Midland', 'Sioux Falls',
       'Fort Collins', 'Clarksville', 'Sacramento', 'Thousand Oaks',
       'Malden', 'Holyoke', 'Albuquerque', 'Sparks', 'Coachella',
       'Elmhurst', 'Passaic', 'North Charleston', 'Newport News',
       'Jamestown', 'Mishawaka', 'La Quinta', 'Tallahassee', 'Nashville',
       'Bellingham', 'Woodstock', 'Haltom City', 'Wheeling',
       'Summerville', 'Hot Springs', 'Englewood', 'Las Cruces', 'Hoover',
       'Frisco', 'Vacaville', 'Waukesha', 'Bakersfield', 'Pompano Beach',
       'Corpus Christi', 'Redondo Beach', 'Orlando', 'Orange',
       'Lake Charles', 'Highland Park', 'Hempstead', 'Noblesville',
       'Apple Valley', 'Mount Pleasant', 'Sterling Heights', 'Eau Claire',
       'Pharr', 'Billings', 'Gresham', 'Chattanooga', 'Meridian',
       'Bolingbrook', 'Maple Grove', 'Woodland', 'Missouri City',
       'Pearland', 'San Mateo', 'Grand Rapids', 'Visalia',
       'Overland Park', 'Temecula', 'Yucaipa', 'Revere', 'Conroe',
       'Tinley Park', 'Dubuque', 'Dearborn Heights', 'Santa Fe',
       'Hickory', 'Carol Stream', 'Saint Cloud', 'North Miami',
       'Plantation', 'Port Saint Lucie', 'Rock Hill', 'Odessa',
       'West Allis', 'Chula Vista', 'Manhattan', 'Altoona', 'Thornton',
       'Champaign', 'Texarkana', 'Edinburg', 'Baytown', 'Greenwood',
       'Woonsocket', 'Superior', 'Bedford', 'Covington', 'Broken Arrow',
       'Miramar', 'Hollywood', 'Deer Park', 'Wichita', 'Mcallen',
       'Iowa City', 'Boise', 'Cranston', 'Port Arthur', 'Citrus Heights',
       'The Colony', 'Daytona Beach', 'Bullhead City', 'Portage', 'Fargo',
       'Elkhart', 'San Gabriel', 'Margate', 'Sandy Springs', 'Mentor',
       'Lawton', 'Hampton', 'Rome', 'La Crosse', 'Lewiston',
       'Hattiesburg', 'Danville', 'Logan', 'Waterbury', 'Athens',
       'Avondale', 'Marietta', 'Yuma', 'Wausau', 'Pasco', 'Oak Park',
       'Pensacola', 'League City', 'Gaithersburg', 'Lehi', 'Tuscaloosa',
       'Moreno Valley', 'Georgetown', 'Loveland', 'Chandler', 'Helena',
       'Kirkwood', 'Waco', 'Frankfort', 'Bethlehem', 'Grand Island',
       'Woodbury', 'Rogers', 'Clovis', 'Jupiter', 'Santa Barbara',
       'Cedar Hill', 'Norfolk', 'Draper', 'Ann Arbor', 'La Mesa',
       'Pocatello', 'Holland', 'Milford', 'Buffalo Grove', 'Lake Forest',
       'Redding', 'Chico', 'Utica', 'Conway', 'Cheyenne', 'Owensboro',
       'Caldwell', 'Kenner', 'Nashua', 'Bartlett', 'Redwood City',
       'Lebanon', 'Santa Maria', 'Des Plaines', 'Longview',
       'Hendersonville', 'Waterloo', 'Cambridge', 'Palatine', 'Beverly',
       'Eugene', 'Oxnard', 'Renton', 'Glenview', 'Delray Beach',
       'Commerce City', 'Texas City', 'Wilson', 'Rio Rancho', 'Goldsboro',
       'Montebello', 'El Cajon', 'Beaumont', 'West Palm Beach', 'Abilene',
       'Normal', 'Saint Charles', 'Camarillo', 'Hillsboro', 'Burbank',
       'Modesto', 'Garden City', 'Atlantic City', 'Longmont', 'Davis',
       'Morgan Hill', 'Clifton', 'Sheboygan', 'East Point', 'Rapid City',
       'Andover', 'Kissimmee', 'Shelton', 'Danbury', 'Sanford',
       'San Marcos', 'Greeley', 'Mansfield', 'Elyria', 'Twin Falls',
       'Coral Gables', 'Romeoville', 'Marlborough', 'Laurel', 'Bryan',
       'Pine Bluff', 'Aberdeen', 'Hagerstown', 'East Orange',
       'Arlington Heights', 'Oswego', 'Coon Rapids', 'San Clemente',
       'San Luis Obispo', 'Springdale', 'Lodi', 'Mason'], dtype=object)

Dropping Unncecessary Columns which are not much impactful such as date, ID, Name etc.

In [82]:
data.drop('Row ID',axis=1,inplace=True)
data.drop('Order ID',axis=1,inplace=True)
data.drop('Order Date',axis=1,inplace=True)
data.drop('Ship Date',axis=1,inplace=True)
data.drop('Customer ID',axis=1,inplace=True)
data.drop('Customer Name',axis=1,inplace=True)
data.drop('City',axis=1,inplace=True)
data.drop('Product Name',axis=1,inplace=True)
data.drop('Country',axis=1,inplace=True)
data.drop('Product ID',axis=1,inplace=True)

Now we can see our data is converted into completely Numerical data.

In [83]:
data.dtypes

Ship Mode         int64
Segment           int64
State             int32
Postal Code       int64
Region            int64
Category          int64
Sub-Category      int64
Sales           float64
Quantity          int64
Discount        float64
Profit          float64
dtype: object

Checking Null Values in the dataset.

In [84]:
data.isna().sum()

Ship Mode       0
Segment         0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

## Train Test Splitting Dataset

Adding all the Columns in the "X" variable and target variable "Sales" in "y" variable.

In [85]:
X = data.loc[:, data.columns != 'Sales']
y = data[['Sales']]

Dividing dataset into Train Test Dataset with 70%-30% ratio.

In [86]:
trainX, testX, trainy, testy = train_test_split(X, y, test_size=0.3, random_state=2)
trainX = trainX.reset_index(drop=True)
testX = testX.reset_index(drop=True)
print(trainX.shape)
print(trainy.shape)
print(testX.shape)
print(testy.shape)

(6995, 10)
(6995, 1)
(2999, 10)
(2999, 1)

## Applying Machine Learning Models

### Decision Tree Regressor

In [87]:
from sklearn.tree import DecisionTreeRegressor
DT = DecisionTreeRegressor(max_depth=20)
DT.fit(trainX, trainy)
Y_test_pred = DT.predict(testX)

print("R Square Score",DT.score(testX,testy))

print("Adjusted R Square",1 - (1-DT.score(trainX, trainy))*(len(trainy)-1)/(len(trainy)-trainX.shape[1]-1))
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error: %.2f" % mean_squared_error(testy, Y_test_pred))
print("Coefficient of determination: %.3f" % r2_score(testy, Y_test_pred))

R Square Score 0.3114223713294362
Adjusted R Square 0.9995413504785535
Mean squared error: 227289.93
Coefficient of determination: 0.311

### Linear Regression

In [88]:
from sklearn.linear_model import LinearRegression

plr = LinearRegression().fit(trainX,trainy)
Y_test_pred = plr.predict(testX)

print("R Square Score",plr.score(testX,testy))
print("Adjusted R Square",1 - (1-DT.score(trainX, trainy))*(len(trainy)-1)/(len(trainy)-trainX.shape[1]-1))
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error: %.2f" % mean_squared_error(testy, Y_test_pred))
print("Coefficient of determination: %.3f" % r2_score(testy, Y_test_pred))

R Square Score 0.4486203256218686
Adjusted R Square 0.9995413504785535
Mean squared error: 182002.79
Coefficient of determination: 0.449

### Random Forest Regressor

In [89]:
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
rf = RandomForestRegressor(n_estimators = 100, random_state = 0).fit(trainX,trainy)
Y_test_pred = rf.predict(testX)

print("R Square Score",plr.score(testX,testy))
print("Adjusted R Square",1 - (1-DT.score(trainX, trainy))*(len(trainy)-1)/(len(trainy)-trainX.shape[1]-1))
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error: %.2f" % mean_squared_error(testy, Y_test_pred))
print("Coefficient of determination: %.3f" % r2_score(testy, Y_test_pred))

R Square Score 0.4486203256218686
Adjusted R Square 0.9995413504785535
Mean squared error: 98668.87
Coefficient of determination: 0.701

## Applying Backward Feature Selection

Selecting 8 best performing features from the dataset.

In [90]:
from sklearn.feature_selection import SequentialFeatureSelector
regress = LinearRegression()
sfs = SequentialFeatureSelector(regress, direction = 'backward',n_features_to_select = 8 )
sfs.fit(X,y)
print(sfs.get_feature_names_out())

['Ship Mode' 'State' 'Postal Code' 'Region' 'Sub-Category' 'Quantity'
 'Discount' 'Profit']

In [91]:
df = data[sfs.get_feature_names_out()]
df

,Ship Mode,State,Postal Code,Region,Sub-Category,Quantity,Discount,Profit
0,2,15,42420,1,4,2,0.00,41.9136
1,2,15,42420,1,5,3,0.00,219.5820
2,2,3,90036,2,10,2,0.00,6.8714
3,2,8,33311,1,16,5,0.45,-383.0310
4,2,8,33311,1,14,2,0.20,2.5164
...,...,...,...,...,...,...,...,...
9989,2,8,33180,1,9,3,0.20,4.1028
9990,2,3,92627,2,9,2,0.00,15.6332
9991,2,3,92627,2,13,2,0.20,19.3932
9992,2,3,92627,2,12,4,0.00,13.3200
9993,2,3,92683,2,1,2,0.00,72.9480

In [92]:
X = df
y = data[['Sales']]

In [93]:
#Deviding into Train - Test after selecting features using foward feature selection. 

trainX, testX, trainy, testy = train_test_split(X, y, test_size=0.3, random_state=2)
print(trainX.shape)
print(trainy.shape)
print(testX.shape)
print(testy.shape)

(6995, 8)
(6995, 1)
(2999, 8)
(2999, 1)

### Applying Models After Feature Selection

### Decision Tree Regressor

In [94]:
from sklearn.tree import DecisionTreeRegressor
DT = DecisionTreeRegressor(max_depth=20)
DT.fit(trainX, trainy)
Y_test_pred = DT.predict(testX)

print("R Square Score",DT.score(testX,testy))

print("Adjusted R Square",1 - (1-DT.score(trainX, trainy))*(len(trainy)-1)/(len(trainy)-trainX.shape[1]-1))
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error: %.2f" % mean_squared_error(testy, Y_test_pred))
print("Coefficient of determination: %.3f" % r2_score(testy, Y_test_pred))

R Square Score 0.31747680509347753
Adjusted R Square 0.9995321229936948
Mean squared error: 225291.45
Coefficient of determination: 0.317

### Linear Regression Model

In [95]:
from sklearn.linear_model import LinearRegression

plr = LinearRegression().fit(trainX,trainy)
Y_test_pred = plr.predict(testX)

print("R Square Score",plr.score(testX,testy))
print("Adjusted R Square",1 - (1-DT.score(trainX, trainy))*(len(trainy)-1)/(len(trainy)-trainX.shape[1]-1))
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error: %.2f" % mean_squared_error(testy, Y_test_pred))
print("Coefficient of determination: %.3f" % r2_score(testy, Y_test_pred))

R Square Score 0.4500771082336823
Adjusted R Square 0.9995321229936948
Mean squared error: 181521.92
Coefficient of determination: 0.450

### Random Forest Regressor

In [96]:
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
rf = RandomForestRegressor(n_estimators = 100, random_state = 0).fit(trainX,trainy)
Y_test_pred = rf.predict(testX)

print("R Square Score",plr.score(testX,testy))
print("Adjusted R Square",1 - (1-DT.score(trainX, trainy))*(len(trainy)-1)/(len(trainy)-trainX.shape[1]-1))
from sklearn.metrics import mean_squared_error, r2_score
print("Mean squared error: %.2f" % mean_squared_error(testy, Y_test_pred))
print("Coefficient of determination: %.3f" % r2_score(testy, Y_test_pred))

R Square Score 0.4500771082336823
Adjusted R Square 0.9995321229936948
Mean squared error: 99086.57
Coefficient of determination: 0.700